html, body{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}
i{
    margin-right: 10px;
    color: #fff;
}
.navbar{
    background: linear-gradient(90deg, #6f42c1, rgb(66, 6, 119));
}
.Maincontainer{
    background-color: #c6b9b1;
    color: rgb(66, 3, 120);
    text-align: center;
    height: 200px;
    background-image: url('/bg.png');
    font-size: 30px;
    border: 2px solid rgb(66, 3, 120);
}

.Maincontainer h1{
    color: rgb(66, 3, 120);
    font-size: 80px;
    padding: 30px 10px 10px;
}

/* products */
#box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color:#ebf1f5;
}

.child {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: white;
    border: 2px solid rgb(66, 3, 120);
}

.child img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    display: block;
    border: 1px solid rgb(66, 3, 120);
}

.product input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 200px;
}

.product p {
    line-height: 1.3;
    margin-bottom: 8px;
}

.product button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(66, 6, 119), #8b5cf6);
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.25s ease;
}

.product button:hover{
     transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(111, 66, 193, 0.3);
}

/* Tablet: 3 products */
@media (min-width: 768px) {
    #box {
        grid-template-columns: repeat(3, 1fr);
    }
    .child img{
        height: 200px;
    }
}

/* Desktop: 4 products */
@media (min-width: 1200px) {
    #box {
        grid-template-columns: repeat(4, 1fr);
    }
    .child img{
        height: 200px;
    }
}

footer{
    background-color: rgb(66, 6, 119);
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 !important;
}

